body {
  background: whitesmoke;
  font-family: sans-serif;
  line-height: 2;
}

header {
  background-image: linear-gradient (rgba (0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/112/981/original/DOnkey_Sonia_with_my_Apple.jpg?1706628660");
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  border-radius: 30px;
  text-align: center;
  padding: 200px;
}

ul {
  list-style: none;
}

main {
  background-color: beige;
  line-height: 2;
  padding: 30px;
  margin: 20px;
}
.boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.box {
  background-color: turquoise;
  color: white;
  font-size: 24px;
  padding: 20px;
  border-radius: 8px;
}

@media (max-width: 900px) {
  .boxes {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .box {
    background: rgb(136, 242, 182);
  }

  header {
    padding: 60px 0;
  }
}

img {
  filter: hue-rotate (268deg) sepia (100%) saturate (300%);
  display: flex;
  width: 15%;
  border-radius: 30px;
  border: 2px solid pink;
}
